#!/usr/bin/env bash

# packages hash: {{ include "private_dot_config/mise/config.toml" | sha256sum }}

set -eou pipefail

/home/vscode/.local/bin/mise trust "$HOME/.config/mise/config.toml"
/home/vscode/.local/bin/mise install

exit 0
