#!/usr/bin/env bash
{{ if eq .chezmoi.os "darwin" -}}
echo "MacOS detected."
mkdir -p ~/personal

if [ ! -d ~/personal/obsidian ]; then
    git clone git@github.com:bear-jordan/obsidian ~/personal/obsidian
fi

if [ ! -d ~/personal/lab ]; then
    git clone git@github.com:bear-jordan/lab ~/personal/lab
fi

if [ ! -d ~/.local/share/tf-docs/google ]; then
    mkdir -p ~/.local/share/tf-docs
    git clone --depth=1 https://github.com/hashicorp/terraform-provider-google ~/.local/share/tf-docs/google
fi
{{ end -}}
