#!/usr/bin/env bash
{{ if eq .chezmoi.os "darwin" -}}
mkdir -p ~/personal

if [ ! -d ~/personal/obsidian ]; then
    git clone https://github.com/bear-jordan/obsidian ~/personal/obsidian
fi
{{ end -}}
