#!/usr/bin/env bash
{{ if eq .chezmoi.os "darwin" -}}
mkdir -p ~/personal

if [ ! -d ~/personal/obsidian ]; then
    git clone git@github.com:bear-jordan/obsidian ~/personal/obsidian
fi

if [ ! -d ~/personal/lab ]; then
    git clone git@github.com:bear-jordan/lab ~/personal/lab
fi
{{ end -}}
